.about-body {
    width: 100%;
}

.skills-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 992px) {
    .about-body {
        margin-top: 10vh;
    }
}