@import '../assets/Colors.css';

.about-body {
    width: 100%;
    height: 92.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-row {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-section {
    padding: 0 !important;
    margin-bottom: 3vh !important;
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: center;
}

.about-row, .skills-row {
    padding:0 16vh;
}   

.name-tag {
    background-color: var(--highlight);
    padding: 0 !important;
    border-radius: 2vh;
    border: 0.75vh solid var(--highlight);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 4vh;
}

.tag-header{
    background-color: var(--main-color);
    color: var(--highlight);
    width: 100%;
    text-align: center;
    padding: 0.5em 0;
    border-radius: 2vh 2vh 0 0;
}

.tag-header h1{
    font-size: 5vw;
    letter-spacing: 1rem;
    line-height: 85%;
    font-weight: bold;
}

.tag-header h3 {
    font-size: 3vh;
}

.tag-body {
    border-bottom: 3vh solid var(--main-color);
    border-radius: 0 0 2vh 2vh;
    align-items: center;
    justify-content: center;
    padding: 0.5em 1em 0.25em 1em; 
    font-size: 1.75vh;
}

.skills-row {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto !important;
    width: 90%;
}

.skill-col {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
}

.skill {
    width: 90%;
    height: 25vh;
    padding: 1em;
    margin: 0 0.25vh;
    margin-bottom: 1vh;
    background-color: var(--accent-color);
    color: var(--highlight);
    border-radius: 1.25vh;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.skill-header {
    color: var(--accent-color);
    font-size: 4vh;
    width: 80%;
    margin: auto;
    font-weight: bold;
    padding-bottom: 0.5vh;
    border-bottom: 0.5vh solid var(--main-color);
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.3);
    margin-bottom: 2vh;
}

.skill p {
    font-size: 1.75vh;
}

.skill-left {
    justify-content: end;
}

.skill-right {
    justify-content: start;
}

.skill-img {
    margin: auto;
    height: 75%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7vh;
    border-bottom: 2px solid var(--highlight);
}

.about-resume {
    text-align: center;
    padding: 0 1em 0 1em;
    margin-bottom: 3vh;
}

.about-resume a {
    width: fit-content;
}

.about-resume h2 {
    font-size: 4vh;
    font-weight: bold;
    text-align: left;
    width: 100%;
    border-bottom: 0.5vh solid var(--main-color);
    padding-bottom: 0.5vh;
    margin-bottom: 2vh;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.3);
    color: var(--accent-color);
}

.about-resume button {
    background-color: var(--accent-color);
    color: var(--highlight);
    border: none;
    border-radius: 1vh;
    padding: .25em 1em;
    font-size: 2.5vh;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    transition: all 0.2s;
}

.about-resume button:hover {
    background-color: var(--accent-hover);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    border: 0.25vh solid;
}

ul {
    list-style-type: none;
    margin: auto;
    padding: 0 !important;
}

@media only screen and (max-width: 992px) {
    .about-body {
        margin-top: 10vh;
        padding: 0 15vw;
        display: block;
    }
    
    .tag-header h1{
        font-size: 5vh;
    }

    .tag-header h3 {
        font-size: 2.5vh;
    }
}

@media only screen and (max-width: 700px) {
    .about-body {
        padding: 0 8vw 170vh 8vw;
    }

    .tag-body {
        font-size: 4vw;
    }

    .skill {
        height: 20vh;
        width: 90%;
    }

    .skill-header {
        width: 100%;
    }

    .skills-row {
        width: 100%;
    }

    .skill-left, .skill-right{
        justify-content: center;
    }
    
    .about-resume button {
        font-size: 3.5vh;
    }

    .about-row, .skills-row {
        padding: 0;
    }  
}

@media only screen and (min-width: 701px) and (max-width: 767px) {
    .skill-left, .skill-right{
        justify-content: center;
    }
}

@media only screen and (min-width: 701px) and (max-width: 1600px) {
    .about-row, .skills-row {
        padding:0 6vh !important;
    }   
}
