.contact-body {
    width: 100%;
    height: 92.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-row {
    /* background-color: blue; */
    height: 92.5vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

div.right-content {
    /* background-color: red; */
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
    margin: 0;
}

.form-container {
    /* background-color: green; */
    /* background-color: var(--highlight); */
    margin: 0;
    border-radius: 2vh;
    /* box-shadow: 0 0.25vh 0.5vh rgba(0, 0, 0, 0.3); */
    /* border-left: 2px solid; */
    height: 80vh;
    width: 35vw;
    padding-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

div.title-row {
    text-align: center;
    /* border-bottom: 0.375vh solid var(--main-color); */
    margin-bottom: 2vh;
    color: var(--accent-color);
    /* background-color: orange; */
}

input.form-input, textarea.form-input {
    height: 5vh;
    width: 25vw;
    padding: 0.5em;
    margin-bottom: 2vh;
    /* border-radius: 0.75vh; */
    border: none;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.3);
    background: #e4e2b8;;
    /* box-shadow: 0 0.25vh 0.5vh rgba(0, 0, 0, 0.3); */
}

textarea.form-input {
    min-height: 25vh;
    max-height: 40vh;
}

.contact-button-row {
    text-align: center;
}

.send-button {
    background-color: var(--accent-color);
    color: var(--highlight);
    border: none;
    border-radius: 1vh;
    padding: .25em 1em;
    width: 15vw;
    height: 5vh;
    font-size: 2vh;
    box-shadow: 0 0.25vh 0.5vh rgba(0, 0, 0, 0.3);
    transition: all 0.2s;
}

.send-button:hover {
    background-color: var(--accent-hover);
    box-shadow: 0 0.35vh 0.35vh rgba(0, 0, 0, 0.3);
    border: 0.25vh solid;
}

@media only screen and (max-width: 1000px) {
    .form-container {
        width: 50vw;
    }

    .contact-body {
        padding-top: 20vh;
        overflow: hidden;
    }

    input.form-input, textarea.form-input {
        width: 40vw;
     }
}

@media only screen and (max-width: 767px) {
    .contact-row {
        align-items: flex-start;
    }
    
    .form-container {
        width: 90vw;
        /* padding-top: 0; */
    }

    input.form-input, textarea.form-input {
        width: 80vw;
        padding: 0.5em;
        margin-bottom: 3vh;
    }

    div.right-content {
        justify-content: center;
        padding: 0;
    }

    .left-content {
        display: none;
    }

    .send-button {
        width: 40vw;
        height: 7vh;
        font-size: 2.5vh;
    }

} 

