.home-body {
    width: 100%;
    height: 100%;
}

.home-row {
    height: 92.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FE6100;
}

.home-left.col-lg-6.col-sm-12 {
    font-size: 1.5vw;
    padding-left: 5vw;
    height: fit-content;
}

.home-right {
    font-size: 9vw;
    font-weight: bold;
    height: 100%;
}

img {
    width: 100%;
    object-fit: contain;
}

.home-text {
    margin: auto;
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
    display: inline-block;
}

.role {
    font-size: 6vh;
    font-weight: bold;
    color:#bd216c;
}

.button-row{
    text-align: left;
    margin-bottom: 10px;
}

.project-button {
    background-color: #bd216c;
    margin-right: 30px;
    color: #FFFDD0;
    border: none;
    border-radius: 1vh;
    padding: .25em 1em;
    width: fit-content;
}

.project-button:hover {
    background-color: #9b1b59;
}

.social-links.row {
    height: 4vh;
}

.social-links a {
    color:#FE6100;
    font-size: 4vh;
    transition: all 0.1s;
}

.social-links a:hover {
    color: #9b1b59;
    font-size: 4.15vh;
}

@media only screen and (max-width: 500px) {
    .project-button {
        margin-right: 10px;
    }
}

@media only screen and (max-width: 1200px) {
    .role {
        font-size: 4vh;
    }
}

@media only screen and (max-width: 992px) {
    .home-right {
        display: none;
    }

    .home-left.col-lg-6.col-sm-12 {
        font-size: 3vh;
        padding: 0;
    }
}