@import '../assets/Colors.css';

.home-body {
    width: 100%;
    height: 100%;
}

.home-row {
    height: 92.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--main-color);
}

.home-left.col-lg-6.col-sm-12 {
    font-size: 1.5vw;
    padding-left: 5vw;
    height: fit-content;
}

.home-left h2 {
    font-size: 2vw;
}

.home-left h3 {
    font-size: 1.5vw;
    margin-bottom: 2vh;
}

.home-right {
    height: 100%;
}

.home-right-img {
    height: 100%;
    background-image: url('../assets/homeshark.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}

.home-text {
    margin: auto;
    text-align: left;
    font-size: 3vh;
    width: 100%;
    margin-bottom: 10px;
    display: inline-block;
}

.role {
    font-size: 6vh;
    font-weight: bold;
    color: var(--accent-color);
    text-shadow: 0 0.25vh 0.25vh rgba(0, 0, 0, 0.3);;
}

.button-row{
    text-align: left;
    margin-bottom: 10px;
    height: 6vh;
}

.mobile {
    display: none;
}

.project-button {
    background-color: var(--accent-color);
    margin-right: 30px;
    color: var(--highlight);
    border: none;
    border-radius: 1vh;
    padding: .25em 1em;
    width: fit-content;
    box-shadow: 0 0.25vh 0.5vh rgba(0, 0, 0, 0.3);
    transition: all 0.2s;
}

.test {
    display: inline;
    height: 6vh;
}

.project-button:hover {
    background-color: var(--accent-hover);
    box-shadow: 0 0.35vh 0.35vh rgba(0, 0, 0, 0.3);
    border: 0.25vh solid;
}

.social-links.row {
    height: 4vh;
}

.social-links a {
    color: var(--main-color);
    font-size: 4vh;
    transition: all 0.1s;
}

.social-links a:hover {
    color: var(--accent-hover);
    font-size: 4.15vh;
}

@media only screen and (max-width: 500px) {
    .project-button {
        margin-right: 10px;
    }
}



@media only screen and (max-width: 1200px) {
    .role {
        font-size: 4vh;
    }
}

@media only screen and (max-width: 992px) {
    .home-right {
        display: none;
    }

    .home-row {
        background-image: url('../assets/mobileshark.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right bottom;
        align-items: start;
        padding-top: 20vh;
        height: 100vh;
    }

    .home-left.col-lg-6.col-sm-12 {
        font-size: 3vh;
        padding: 0 1.5em;
    }

    .home-left h2 {
        font-size: 3vh;
    }

    .home-left h3 {
        font-size: 2.5vh;
    }
}

@media only screen and (max-width: 700px) {
    .home-row {
        height: 92.5vh;
        padding-top: 8vh;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }
}