.bar {
    background-color: #FFFDD0;
    text-align: center;
    position: fixed;
    margin: auto;
    z-index: 99;
}

.nav-row {
    height: 7.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-col {
    font-size: 1.25em;
}

.nav-col a{
    color: #FE6100;
    text-decoration: none;
    transition: all 0.3s;
}

.nav-col a:hover {
    color: #bd216c;
}

.nav-icon {
    display: none;
}

@media only screen and (max-width: 700px) {
    .bar {
        position: fixed;
        bottom: 0;
        background-color: #FE6100;
    }

    .nav-col a {
        color: #FFFDD0;
        transition: all 0.1s;
    }

    .nav-col a:focus, .nav-col a:active {
        text-decoration: underline;
        color: #FFFDD0;
        border-bottom: 3px solid #FFFDD0;
    }

    .nav-text{
        display: none;
    }

    .nav-icon{
        display: contents;
    }
}

@media only screen and (min-width: 2000px) {
    .nav-col {
        font-size: 2.25em;
    }
}
