.not-found-body {
    width: 100%;
    height: 92.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/notfoundrecdesktop.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}

@media only screen and (max-width: 700px) {
    .not-found-body {
        background-image: url('../assets/notfoundmobile.svg');
    }
}