@import '../assets/Colors.css';

:root {
    --card-height-lg: 55vh;
    --card-height-sm: 15vh;

    --card-width-lg: 20vw;
    --card-width-md: 25vw;
    --card-width-sm: 50vw;
    --card-width-xs: 75vw;

    --box-height-lg: 27.5vh;
}

.card-container {
    margin-bottom: 15vh;
    padding: 0;
}

.proj-card.row {
    height: var(--card-height-lg);
    width: var(--card-width-lg);
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    box-shadow: 0 0.25vh 0.5vh rgba(0, 0, 0, 0.3);
    border-radius: 3vh;
}

.desc-box {
    height: var(--box-height-lg);
    background-color: var(--accent-color);
}

.picture-box.col-12 {
    height: var(--box-height-lg);
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.desc-box {
    background-color: var(--highlight);
    z-index: 1;
}

.display-picture {
    position: absolute;
    width: var(--card-width-lg);
    height: var(--box-height-lg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}

.picture-link {
    height: var(--card-height-lg);
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.5) 50%) top;
    background-size: 200% 200%;
    transition: all 0.3s;
}

.picture-link a {
    color: rgba(255, 255, 255, 0);
    font-size: 5vh;
    z-index: 0;
    transition: all 0.2s;
}

.picture-link:hover {
    bottom: 0%;
    height: 27.5vh;
    background-position: bottom;
}

.picture-link:hover a {
    color: rgba(255, 255, 255, 0.8)
}

.gitIcon:hover {
    color: var(--highlight);
}

.desc-txt {
    height: 85%;
}

.desc-txt h2 {
    padding-top: 0.3em;
}

.moreButton {
    padding-right: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

button.modalInfo {
    border: none;
    background: none;
    color: var(--accent-color);
    text-align: right;
    width: 57%;
    transition: all ease-in-out 0.3s;
}

.modalInfo:hover {
    color: var(--accent-hover);
}

@media only screen and (max-width: 1200px) {
    .proj-card.row, .display-picture {
        width: var(--card-width-md);
    }

    button.modalInfo {
        width: 70%;
    }
}

@media only screen and (max-width: 767px) {
    .proj-card.row, .display-picture {
        width: var(--card-width-sm);
    }

    button.modalInfo {
        width: 50%;
    }
}

@media only screen  and (max-width: 700px) {
    .proj-card.row, .display-picture {
        width: var(--card-width-xs);
    }

    .proj-card.row, .picture-link {
        height: 70vh;
    }

    .card-container {
        margin-bottom: 30vh;
    }

    .projects-body {
        padding-top: 65vh;
    }
    
    .picture-box, .desc-box {
        min-width: 50vw;
        min-height: 35vh;
    }

    button.modalInfo {
        width: 80%;
    }

    .picture-link:hover {
        min-height: 35vh;
    }
}