@import '../assets/Colors.css';

.card-container {
    margin-bottom: 5vh;
    padding: 0;
}

.proj-card.row {
    height: 30vh;
    width: 50vw;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    border: .75vh solid var(--main-color);
    border-radius: 3vh;
}

.picture-box {
    min-height: 30vh;
    min-width: 50%;
    background-color: var(--accent-color);
}

.desc-box {
    min-height: 30vh;
    min-width: 50%;
    background-color: var(--highlight);
}

@media  only screen  and (max-width: 700px) {
    .proj-card.row {
        width: 75vw;
    }
    
    .picture-box, .desc-box {
        min-height: 15vh;
        min-width: 50vw;
    }
}