.modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 98;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99 !important;
}

.modalBody.container {
    height: 85vh;
    width: 40vw;
    border-radius: 3vh;
    overflow-y: scroll;
    box-shadow: 0 0.25vh 0.5vh rgba(0, 0, 0, 0.3);
    background-color: rgb(255, 255, 255);
}

.btnRow {
    align-items: end;
    justify-content: end;
    padding: 0.5em;
}

.modalBtn {
    background: none;
    border: none;
    width: 30px !important;
    text-align: center; 
    font-size: 2vh;
    font-weight: bold;
    color:rgba(54, 54, 54, 0.5);
    transition: all ease-in-out 0.2s;
}

.modalBtn:hover {
    color:rgba(0, 0, 0, 1)
}

@media only screen and (max-width: 1100px) {
    .modalBody.container {
        width: 70vw;
    }
}

@media only screen and (max-width: 700px) {
    .modalBody.container {
        width: 90vw;
    }

    .modalBtn {
        font-size: 2.5vh;
    }
}